.hidden-nav{
    position: fixed;
    top: -50px;
}


body{
    margin: 0;
    padding: 0;
}

/*first nav*/

#EXCLUSIVE-offer{
    background: #333;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 .bi:hover{
     color: #04aeef;
 }
.border-bottom{
    border-bottom: 1px solid #a9f1dd;
}
.bi{
    margin-right: 3px;
}
.order{
    background: #2bb673;
    color: #fff;
    margin-left: 200px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.selling{
    color: #fff;
    background: #00aeef;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.help{
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login{
    color: #3c9fe5;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media(max-width: 1024px){
    .order{
        background: #2bb673;
        color: #fff;
        margin-left: 50px;
        margin-right: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width:768px) {
    .display{
        display: none;
    }
    
}
/*mobile responsive*/

@media (max-width:425px){
    .hero-left {
        transform: none;
    }
    .hero-right{
        transform: none;
    }
}

@media (max-width: 425px)
{
    .home-content {
        width: 80%;
        margin: 0 auto;
        padding-top: 16px;
        float: unset;
    }
}

@media (max-width: 768px){
    .flex-cat-block {
        margin: 2%;
        width: 46%;
        float: left;
    }
}
@media (max-width: 575px)
{
    .flex-cat-block {
        margin: 2%;
        width: 96%;
        float: left;
    }
}

@media (min-width: 992px)
{
    .col-lg-12 {
        float: left;
        width: 100%;
    }
}


/*Navbar*/

.text-align-nav{
    text-align: center;
}
.span-color-nav{
    color: #aaa;
}
.bi-heart{
    font-size: 1.5em;
}
.bi-bag-check-fill{
    font-size: 1.5em;
}
.create{
    margin-left: 119px;
}
.shop{
    margin-left: 80px;
}
.btn{
    margin-right: 40px;
}
.bi-heart{
    margin-right: 30px;
}
/****Aside***/
.background-aside{
    background: #f8f8f8;
    /* overflow: scroll; */
    /* height: 600px; */
    position: fixed;
    width: 26%;
    height: calc(100vh - 40px);
    overflow-y: auto;
    left: 0px;
    /* top: 120px; */
    /* background: #f8f8f8; */
    padding-left: 5%;
    text-transform: capitalize;
    transition: 0.2s ease;
    
}
.colors{
    padding-top: 20px;
}
.padding{
    padding-left: 30px;
}
  .margin-left{
      margin-left: 30px;
  }
  .black{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #000;
  }
  .White{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #f8f8f8;
  }
  .navy{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #2b2e43;
  }
  .grey{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #c5c5c5;
  }
  .royal{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #00539c;
  }
  .wine{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #64242e;
  }
  .green{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #29685f;
  }
  .red{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #bc2e3e;
  }
  .ash{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #525257;
  }
  .purple{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #684463;
  }
  .army{
    height: 15px;
    width: 30px;
    border-radius: 5px;
    display: inline-flex ;
    justify-content: space-between;
    background-color: #757b4b;
  }
  .type{
      margin-top: 20px;
  }
  .color-font{
      margin-top: 20px;
      color: #03a9f5;
      font-size: 13px;
      font-weight: bolder;
  }

@media(max-500px){
    .aside{
        display: block;
    }
}

  /*************
    main page
  *************/
  .search-box{
      margin-top: 20px;
      margin-left: 20px;
      
  }
  .search-icon{
      background: #efefef;
      padding: 5px;
      display: inline-block;
      float: right;
      position: relative;
      bottom: 36px;
  }
  .tag{
      background: #808080;
  }
  .navii{
      margin-top: 20px;
  }
  .navii li {
    display: inline-block;
    font-size: 14px;
    background:#e8e8e8;
    text-decoration: none;
   
  }
  .navii li a{
      text-decoration: none;
      color: black;
  }




  /*home content*/
.hot-container:hover > .hot-container-img {
    transform: scale(1.035);
}

.home-content {
    width: 80%;
    margin: 0 auto;
    float: unset;
}
.flex-cats {
    width: 100% !important;
}
.flex-cat-block {
    margin: 1%;
    width: 23%;
    position: relative;
    float: left;
}
.flex-cat-img {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgb(37 44 97 / 15%), 0 2px 4px 0 rgb(93 100 148 / 20%);
    position: relative;
}
.flex-cat-block img {
    width: 100%;
    transition: 0.2s ease all;
}
.flex-cat-button {
    width: 100%;
    position: absolute;
    top: 80%;
    text-align: center;
}
.flex-cat-button a {
    padding: 10px 15px;
    background: #fff;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    box-shadow: 0 5px 15px 0 rgb(37 44 97 / 15%), 0 2px 4px 0 rgb(93 100 148 / 20%);
}
.flex-cat-description {
    display: none;
}
.flex-cat-description {
    display: flex;
    margin-top: 20px;
    min-height: 1em;
}
.flex-cat-description i {
    display: none;
}
.flex-cat-description i {
    width: auto;
    text-align: center;
    padding-top: 8px;
    font-size: 2rem;
    padding-right: 7%;
}
.flex-cat-description-text {
    display: flex;
    flex-direction: column;
}
b, strong {
    font-weight: bolder;
}
.pay_artist {
    position: absolute;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background: #ccf7f1;
    color: #009688;
    height: 100%;
    line-height: 22px;
}

.shoptop {
    height: 85px;
}
.mindfordesign {
    background: unset;
}
.hot-image-title.light > div {
    color: #009688 !important;
    text-shadow: 1px 1px #fff !important;
}

.mindfordesign {
    background: unset;
}

.hot-image-title {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.corporate-block-large .hot-title {
    color: #666;
    text-shadow: 1px 1px #fff;
}
.hot-image-title > div {
    color: #FFF;
    text-align: left;
    padding-left: 25px;
    width: 100%;
    font-size: 1.2em;
    font-family: 'Fjalla One', sans-serif;
}
.hot-image-title > div {
    color: #FFF;
    text-align: left;
    padding-left: 25px;
    width: 100%;
}
.hot-title {
    text-transform: uppercase;
}
.hot-title, .hot-topic, .hot-link {
    text-shadow: 1px 1px #272525;
}

.corporate-block-large .hot-topic {
    background: #a7a7a7;
    color: #ffffff;
    text-shadow: 1px 1px #737373;
    width: fit-content;
    padding-right: 20px;
}
.hot-image-title > div {
    color: #FFF;
    text-align: left;
    padding-left: 25px;
    width: 100%;
    font-size: 1.2em;
    font-family: 'Fjalla One', sans-serif;
}
.hot-image-title > div {
    color: #FFF;
    text-align: left;
    padding-left: 25px;
    width: 100%;
}
.hot-topic {
    font-size: 2em !important;
}
.hot-title, .hot-topic, .hot-link {
    text-shadow: 1px 1px #272525;
}

/*****card******/
.gallerythumbWrapperLoaded {
    background: #FFF !important;
    transition: opacity 0.8s ease;
}
.gallerythumbLoaded {
    opacity: 1;
}
.card-text.truncate {
    height: 1.9rem !important;
    font-size: .7em !important;
    white-space: unset !important;
    word-break: break-word;
    overflow: hidden;
    line-height: 1rem !important;
    margin-bottom: 4px !important;
}
.non_mediacal.hide {
    display: none;
}
.products-cart-button {
    width: 100%;
    text-align: center;
    background: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    color: #FFF;
    position: relative;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.products-cart-button > i {
    padding-right: 10px;
    font-size: 1.0rem;
}
.products-cart-button-loader {
    font-size: .8rem !important;
    line-height: 1rem;
    padding: 0px !important;
    color: #818a91;
}
.featured-products{
    margin-bottom: 20px;
    margin-right: 5px;
}
.crd-background{
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}